body{
font-family: Arial;
padding:20px;
background:#f4f4f4c5;
}

h2{
    font-size: 60px;
    text-align: center;
    justify-content: center;
}
#email{
    margin-left:35%;
    padding:10px;
    background-color: black;
    color: aliceblue;
    font-size:15px;
}

button{
padding:10px;
margin:5px;
text-align: center;
cursor:pointer;
background-color: darkgray;
color: black;
font-size: 15px;
}

#output{
margin-top:20px;
width:50%;
text-align: center;
justify-content: center;
background:rgb(0, 0, 0);
color: aliceblue;
padding:15px;
border-radius:8px;
margin-left:23%;

}